<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
{#    引入jquery实现ajax#}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Mobile Specific Meta-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

<!-- Themefisher Icon font -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/themefisher-font/style.css') }}">
<!-- bootstrap.min css -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick-theme.css') }}"/>

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>



<!-- 页面内容 -->
{% block content %}{% endblock %}

</body>
</html>
